version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: ecommerce_backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: ecommerce_db
    environment:
      POSTGRES_DB=ecommerce
      POSTGRES_USER=ecommerce_user
      POSTGRES_PASSWORD=secret123
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
